.layout-wrapper {
  display: flex;
  height: 100%;
  .layout-aside {
    // background-color: rgb(150, 146, 146);
    flex: 2;
    height: 100%;
  }
  .layout-main {
    flex: 8;
    height: 100%;
    display: flex;
    flex-direction: column;
    .main-header {
      height: 60px;
      background-color: #99f0ad;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .main-body {
      background-color: #eee;
      flex: 1;
    }
  }
}